/* ================================================================
   General template styling
   ================================================================ */

*{
   /* font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* prevent callout when holding tap on links (the native dialog that comes up) */
    -webkit-touch-callout: none; 

    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none; 

    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
}

body{
    background-color: #eaeaea;
}

main{
    margin: auto;
    margin-top: 100px;
}